@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Roboto+Condensed|Srisakdi');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #333;
  color: #fff;

}

/* global clases */

.container {
  width: 100%;
  margin: 0 auto;
  /* box-shadow: 0px 0px 50px rgb(16,16,16,1);  */
  position: relative;
}

.wraper {
  width: 80%;
  margin: 0 auto;
}

.active {
  border-bottom: 2px #fff solid;
}

/* showcase */
.showcase {
  height: 40vh;
  background: linear-gradient(to bottom, #000000, transparent, transparent, transparent, transparent), url(../img/bg6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;

}

.nav-bar-hide {
  display: none;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-bar ul li a:hover {
  color: rgb(163, 163, 163);

}

.nav-bar ul li {
  margin-left: 20px;
}

/* btn toggle */
.btn-menu {
  width: 50px;
  height: 50px;
  /* background: #fff; */
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
  display: none;
  border: 2px white solid;
}

.border {
  width: 35px;
  height: 4px;
  background: #fff;
  position: absolute;
}

.box1 {
  transform: translateY(-10px);
  transition: 0.5s;
}

.box3 {
  transform: translateY(+10px);
  transition: 0.5s;
}

.box2 {
  opacity: 1;
  transition: 0.5s;
}




/* text in the center of screen */

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  text-align: center;
}


.text-wrapper h1 {
  position: relative;
  font-size: 4rem;
  font-weight: 600;
  animation: h1text 2s 1 forwards;
  opacity: 0;
  letter-spacing: 7px;
}

@keyframes h1text {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);

  }
}
/* contact us section */

#contact{
  background: #fff;
  color: #333;
 
}

.contact-us-grid{
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  
}
.grid-form{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.span-2{
  grid-column: span 1;
}

.input{
  width: 100%;
  height: 40px;
  border: none;
  border: 1px #666363 solid;
  border-radius: 6px;
  padding: 0 0 0 0.5rem;
  font-size: 1.1rem;
}

.input:focus{
  
  border: 1px #C49F5C solid;
  outline: none;
 
}

.text-area{
  height: 100px;
  resize: none;
  padding: 1rem 0 0 0.5rem;
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;
}
.grid-form h3{
  color: #121212;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn-send{
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 7px;
  background: #121212;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.4s;
  margin-top: 1rem;
  cursor: pointer;
}

.btn-send:hover{
  
  background: #C49F5C;
 
  
}
.get-in-touch p{
  padding: 1rem 0;
}
.letter-space{
  letter-spacing: 2px;
}


.padding{
  padding: 4rem 0;
}

.icon-primary{
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1rem;
  color: #121212;
  
}
.icon-primary:hover:nth-child(2){
  color: #4267B2;
  
}
.icon-primary:hover:nth-child(3){
  
  color: #1DA1F2;
}
.icon-primary:hover:nth-child(4){
  color: #d200ab;
  
}



/* FOOTER */
.footer {
  background: #121212;
}

.location ul,
.hours ul {
  list-style: none;
}

.footer .wraper {
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.location {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.location h1 {
  grid-column: span 2;

}

.hours {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.hours h1 {
  grid-column: span 3;

}

/* valid names and email */

.valid-name,
.valid-email,
.valid-phone{
  color: rgb(255, 25, 25);
  display: none;
}

.mr-left{
  margin-left: 1rem;
}
.m-right{
  margin-right: 1rem;
}
.mb{
  margin-bottom: 1.5rem;
}
h5{
  font-size: 1.4rem;
}
/*-------------------- media queris------------------ */
@media (max-width:960px) {
  #home {
    overflow: hidden;
  }

  .btn-menu {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  /* Navbar - hiden */
  .nav-bar-hide {

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: all 550ms;
    transform: translateX(100%);

  }

  .nav-bar-hide ul {

    list-style: none;

  }

  .nav-bar-hide ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }

  .nav-bar-hide ul li {
    padding: 1.5rem 0;
  }

  .logo,
  .nav-bar {
    display: none;
  }


/* Conctact us grid */
  
    .grid-form,
    .contact-us-grid{
      
      grid-template-columns: 1fr;
    
    }
    .span-2{
      grid-column: span 1;
    }
    .btn-send{
      width: 100%;
    }
   
}

@media (max-width:560px) {

  .footer .wraper {
    flex-direction: column;
  }

  .location {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .location h1 {
    grid-column: span 2;
  }

  .hours {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .hours h1 {
    padding: 2rem 0 0 0;
    grid-column: span 3;
  }
  .banner{
    text-align: left;
  }
  .banner h1{
    font-size: 1.2rem;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: 15vh;
   
  }
  .phone-number{
    justify-self: center;
  }

}